*{
    
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    
}
.post-title {
    color:blue;
    
    
}

/*NOTE*/
h1{
    font-family: sans-serif;
    font-style: italic;
    font-size: 3.5rem;
    
    
}

/*TODO*/
p{
    word-spacing: 3px;
    line-height: 150%;
    
       
    
}


.btn{
    border:1px solid #000;
    padding: 2px 15px;
    
     text-decoration: none;
    
   
    
}


.btn:hover{
    background: red;
    color: #fff;
    
}


.col_3{
    
    
}

.col_3 figure{
    
    width:33.33%;
    float: left;
    
    
}

.col_3 figure img{
    width: 100%;
}