header{
    background: #333;
    
}

header ul li{
   display: inline-block;
    padding: 20px 15px;
}

header ul li a{
    
    color: #ccc;
}


section{
    margin:10px 0;
    
    
}


[class^="btn-"]{
    border-radius: 3px;
    border:1px solid #ccc;
    padding: 5px;
    
    font-size:1rem;
    
    margin: 5px;
    display: inline-block;
}

.color-stress{
    background-color: #286090;
    border-color: #204d74;
    color: #fff;
}


.jumbotron{
    padding: 50px 20px;
    border-radius: 5px;
    background: #eee;
    
    min-height: 300px;
    
    
}


.jumbotron h1{
    font-size: 3rem;
    
}

.jumbotron p{
    
    margin: 5px 0;
    font-size: 1.25rem;
    
    
}


.thumbbail{
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 3px;
}

.thumbbail img{
    max-height: 500px;    
    
}

.thumbbail h2{
    
    font-size: 2rem;
}

.thumbbail .caption{
    margin: 15px;
    
    text-align: center;
    
}




